<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="false">
  <listeners>
    <listener class-name="listeners.TestListener"/>
  </listeners>
  <test name="CRUD advertisement">
    <classes>
      <class name="tests.MakeNewAdTest"/>
       <class name="tests.ManageAdvertiseTests"/>
      <class name="tests.TestOnFullAd.AdDetailsTest"/>
    </classes>
  </test>
  <test name="CRD Comments on advertisement">
    <classes>
      <class name="tests.TestOnFullAd.CRD_Comments"/>
    </classes>
  </test>
  <test name="CRUD user">
    <classes>
      <class name="tests.RegularSignUpTest"/>
    </classes>
  </test>
  <test name="Follow">
    <classes>
      <class name="tests.FollowTests"/>
    </classes>
  </test>
  <test name="Feed">
    <classes>
      <class name="tests.StartNewChat"/>
      <class name="tests.TestOnLiveFeed.FeedFilterByCategory"/>
      <class name="tests.TestOnLiveFeed.SearchOnFeedTests"/>
    </classes>
  </test>
</suite> <!-- Suite -->
